<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="my Suite" thread-count="1" verbose="10" preserve-order="true" parallel="false">
	<test name="Testing Add User">
        <classes>
            <class name="menuUsers.AddUsers" />
        </classes>
    </test>
    <test name="Testing Add User Dgn Data Driven">
        <classes>
            <class name="menuUsers.AddUserBulk" />
        </classes>
    </test>
    <test name="Testing Add Kategori dan Produk">
        <classes>
            <class name="menuKategoriAndProduct.AddKategoriAndProductSingle" />
        </classes>
    </test>
    <test name="Testing Add Kategori dan Produk Dgn Data Driven">
        <classes>
            <class name="menuKategoriAndProduct.AddKategoriAndProductBulk" />
        </classes>
    </test>
    
    <test name="Testing Mobile Browser Dgn Appium">
        <classes>
            <class name="androidEmulator.ProductOutgoing" />
        </classes>
    </test>
    
</suite> <!-- Suite -->
